/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before,q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}

/*
Custom reset to make it harboiled
License : none (public domain)
*/
html { overflow-y: scroll; color:#444 }
body { font:.81em/1.231 sans-serif; *font-size:small } /* hack retained to preserve specificity */
h1,h2,h3,h4,h5,h6,strong { font-weight:bold }
select, input, textarea, button { font:99% sans-serif }
button, input, select, textarea { margin:0 }
label[for], input[type=button], input[type=submit], button { cursor:pointer }
input[type=radio] { vertical-align: text-bottom }
button { position:relative; overflow:visible; margin:0; padding:0; border:0; cursor:pointer; font-family:Arial,Helvetica,Sans-serif; background:transparent }
input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, button::-moz-focus-inner { padding:0; border:0; text-indent:0 }
input[type=button]::-moz-active-inner { margin:0; padding:0; text-indent:0 }
.ie7 img { -ms-interpolation-mode:bicubic }
::-moz-selection { color:#444; text-shadow:none; background:#feffd0 }
::selection { color:#444; text-shadow:none; background:#feffd0 }
abbr[title], dfn[title] { cursor:help }

/* align checkboxes, radios, text inputs with their label */
input[type=checkbox] { vertical-align:;bottom }
.ie7 input[type=checkbox] { vertical-align:baseline }
.ie6 input { vertical-align:text-bottom }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
* { outline:none; }
*:focus { outline:2px solid orange; }
*:hover, *:active { outline:none; }
*:active:focus { outline:none; }

/* Base style */
/* required for containers to inherit vertical size from window */
html, body { height: 100% }
body { font-family:'Lucida Grande', Arial, Sans-serif; background:#90959b }
input, textarea, button { font: 99% 'Lucida Grande', Arial, Sans-serif }
input:focus, textarea:focus, select:focus { background:#feffd0 }
input:focus::-moz-selection, textarea:focus::-moz-selection { background:#172B44; color:#fff }
input[type=text], input[type=email], input[type=password], input[type=date],
input[type=number], input[type=url], textarea {
    padding:.2em; width:50%;
    border:1px solid rgba(23, 43, 68, .5);
    box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3);
        -moz-box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3);
        -webkit-box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3)
}
textarea { max-width:50%; min-width:50%; min-height:5em }
select {
	-moz-appearance:none; -webkit-appearance:none; -o-appearance:none; padding:.2em; width:51.2%;
	font:1em 'Lucida Grande','Trebuchet MS', Arial, Sans-serif;
	border:1px solid rgba(23, 43, 68, .5);
	background: #fff;
	box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3);
        -moz-box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3);
        -webkit-box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .3)
}
input[type=checkbox] + label[for],input[type=radio] + label[for] { margin-left:.3em }
a { text-decoration:underline }
a.action, a:hover, a:focus { text-decoration:none }
a.action .in { text-decoration:underline }
a.action:hover .in, a.action:hover .in { text-decoration:none }
.icon { display:inline-block; vertical-align:text-bottom ; background-repeat:no-repeat }
.icon-money { width:13px; height:15px; background:url(i/icons/money.png) }
.icon-pdf { width:16px; height:16px; background:url(i/icons/pdf.png) }
.icon-valid { width:14px; height:14px; background:url(i/icons/valid.png) }
.icon-invalid { width:14px; height:14px; background:url(i/icons/invalid.png) }
.icon-calendar { width:14px; height:14px; background:url(i/icons/calendar.png) }
.icon-clock { width:14px; height:14px; background:url(i/icons/clock.png) }
.icon-lock { vertical-align:middle; margin-top:-4px; width:11px; height:13px; background:url(i/icons/lock.png) }

.box-common {
    margin:0 0 20px;
    border:1px solid #dee0e1; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 1px rgba(0, 0, 0, .2);
	background:#efefef;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E8E8E8));
}
.box-common > .in { padding:1em 30px }

.simple-form p, #page .main .simple-form p { margin:0 0 1.2em }
.simple-form p.submit { margin:2em 0 0; text-align:right; }
.simple-form label, .simple-form .label { display:inline-block; vertical-align:top; margin:.2em 1em 0 0; width:28%; text-align:right;}
.simple-form p.inline label { margin-top:0; margin-bottom:.25em; vertical-align:top; width:auto; max-width:60%; text-align:left; }
.simple-form p.inline .label { margin-top:0; }
.simple-form input.wide { width:81% }
.simple-form .check-conditions { font-size:.88em }
.simple-form .check-conditions p, #page .main .simple-form .check-conditions p { margin:0 0 .5em }
.simple-form select option { padding:0 .2em;  }
.simple-list li { margin:0 0 .5em 1em; list-style-type:square }

#wrapper { background:#90959b; min-width:990px }
#header > .content, #page > .content, #footer > .content, #banner > .content { position:relative; margin:0 auto; padding:0 5px; width:980px; }
#banner, #page { float:left; width:100%; overflow:hidden; clear:both; background:url(i/patterns/shadow.png) center 0 repeat-y }
#header, #page, #footer { clear:both; }
#header { float:left; width:100%; padding:5px 0; color:#fff; background:#1e3858 }
#header .site-name { float:left; margin-left:10px; }
#header .seo { float:right; margin-right:10px; width:70%; text-align:right; font-size:.88em; color:#8a9098; }
#header nav { float:right; margin:2em 0 0 0; }
#header nav li { float:left; padding:0 10px; border-left:1px solid #fff; }
#header nav li:first-child { border:0; }
#header nav li a {
	color:#fff; font-size:1.17em; text-decoration:none; text-shadow:0 -1px 0 rgba(0, 0, 0, .7);
	transition:color .3s ease;
		-moz-transition:color .3s ease;
		-webkit-transition:color .3s ease;
}
#header nav li a:hover { color:#999 }
#header nav li a:active { color:#fff }
#footer {font-size:.88em;}
#footer .in { padding:10px; background:#172b44; color:#fff; }
#footer .in h1, #footer .in ul, #footer .in li { display:inline-block; vertical-align:baseline; }
#footer .in img { margin-right:10px; vertical-align:middle; }
#footer .in li:before { content:' - '; }
#footer .in li:first-child:before { content:''; }
#footer .in h1 { font-weight:normal; }
#footer .in ul a { color:#fff; text-decoration:none; }
#footer .in ul a:hover {text-decoration:underline;}
#footer .in ul[role=navigation] {margin-left:2em;}
#footer .in ul[role=navigation] li, #footer .in ul[role=navigation] a { color:#90959b; }
#footer p[role=contentinfo] { padding:5px 10px; color:#fff; }
#footer a { color:#fff; }

#banner { background-color:#172B44; min-height:180px; }
#banner .user-sidebar section, #banner .login { float:left; clear:left; margin:0 0 10px; padding:10px; width:236px; color:#fff; border:1px solid #1e3858; background:rgba(23, 43, 68, .6) }
#banner .user-sidebar { position:relative; z-index:2; float:right; margin:10px 10px 0; min-height:190px; width:258px; }
#banner .user-sidebar header { margin:-10px -10px 0; padding:5px 10px; font-size:1.17em; border-bottom:1px solid #1e3858; background:#172b44 }
#banner .user-sidebar header h1 { font-weight:normal }
#banner .user-sidebar .register { margin:0; background:#40546C }
#banner .user-sidebar a{ color:#fff; }
#banner .login a { font-size:.88em }
#banner .user-sidebar a:hover, #banner .login a:focus { text-decoration:none }
#banner .user-sidebar p { clear:left; float:left; margin:.5em 0 0; width:100% }
#banner .user-sidebar button, #banner .user-sidebar .button { float:right }
#banner .user-sidebar section .in { font-size:.92em }
#banner .login p:first-child { margin-top:0 }
#banner .login label { display:inline-block; margin:0 0 .3em; font-size:.92em }
#banner .login input { width:97%; border:1px solid #1e3858;  }
#banner .login a{ float:left; margin-top:.8em }
#banner .login .button{ margin-top:.8em }
#banner .logged-in a{ margin-top: 1.4em; }

#page { min-height:100px; background-color:#f4f6f4 }
#page aside { float:right; width:268px; }
#page aside section { margin:10px 0 20px }
#page aside section header { padding:2px 12px;font-size:1.17em; color:#fff; background:#172b44 }
#page aside section header h1 { font-weight:normal }
#page aside section .in { padding:5px 12px; font-size:.92em }
#page aside section address { display:inline-block; margin-left:.5em; vertical-align:top; font-style:normal; color:#868686 }
.ie #page aside section address { display:inline }
#page aside section address .phone { font-weight:normal; font-size:2.08em; color:#273a51; text-decoration:none }
#page aside section figcaption.in { font-weight:normal; font-size:1.5em; color:#868686 }
#page aside section.social .in{padding-top:15px;padding-bottom:0;}
#page aside section.social a{margin-right:3px;}
#page a { color:#183659 }
#page .more-about { text-align:right }
#page .main { float:left; width:712px; min-height:800px; background:#fff; }
#page .main > section { padding:0 30px; margin:10px 0 30px }
#page .main > section > header,
#page .main > section > h1 { overflow:hidden; height:.95em; display:inline-block; margin:0 0 15px -30px; padding-left:30px; font-size:1.5em; color:#172b44; border-bottom:1px solid #172b44 }
#page .main > section > .in { font-size:.92em }
#page .main > section h1 { font-weight:normal }
#page .main .page-header { padding:1em 30px; }
#page .main .page-header h1 { margin:0 0 .25em; font-weight:normal; font-size:1.8em; color:#172b44; }
#page .main .page-header .breadcrumb { margin:0; font-size:.88em; color:#999; }
#page .main .page-header .breadcrumb a { color:#999;}
#page .main .list > ul > li { margin:0 0 1.5em; }
#page .main .list > ul > li > section > .in {
	display:list-item; list-style-position:inside; list-style-image:url(i/bullets/bullet.png); margin:0 0 .5em; padding:.7em 10px;
	border:1px solid #dee0e1; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 1px rgba(0, 0, 0, .2); background:#efefef;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E8E8E8)) }
#page .main .list > ul > li header { display:inline-block; vertical-align:top; font-size:1.24em; margin:-2px 0 .25em; color:#172B44; }
#page .main .list > ul > li .content { margin-left:22px;}
#page .main .list > ul > li footer { text-align:right; font-size:.92em }
#page .main .list > ul > li footer p { display:inline-block; margin:0 10px }
#page .main .list > ul > li footer a { color:#444 }
#page .main .list > ul > li.archive > section > .in { opacity:.7 }
#page .main .list > ul > li.archive > section > .in h1 { font-style:italic }
#page .main .pagination { padding-top:1em; margin:0 0 1.5em; text-align:center; font-size:.88em; }
#page .main .pagination .previous { float:left; }
#page .main .pagination .next { float:right; }
#page .main .pagination .in a { text-decoration:none }
#page .main .pagination .in a:before { display:inline-block; margin:0 2px; content:'-'; }
#page .main .pagination .in > a:first-child:before { content:none; }
#page .main p { margin:0 0 1.5em; }
#page .main small {font-size:.92em;}

button, .button {
	padding:7px 20px; border:1px solid #93979d; color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, .5); text-decoration:none;
	border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px;
	background:#1c3452;
	background:linear-gradient(top, #1E3858 0%, #172A43 100%);
		background:-moz-linear-gradient(top, #1E3858 0%, #172A43 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E3858), color-stop(100%,#172A43));
}
button:hover, .button:hover, button:focus, .button:focus {
    background: #2D5082;
    background:-moz-linear-gradient(top, #2D5082 0%, #172A43 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D5082), color-stop(100%,#172A43));
}
button:active, .button:active { border-color:rgba(255, 255, 255, .8); }

/*Home*/
#banner.features { min-height:335px; }
#figures { position:absolute; width:980px; outline:0!important }
#figures figure { position:relative; float:left; }
#figures figure figcaption { position:absolute; bottom:30px; z-index:1 }
#figures figure figcaption a {
	display:inline-block; padding:10px 30px; font-size:1.17em; text-decoration:none; color:#172B44;
	background:#fff;
	background:linear-gradient(left, #fff 0, rgba(255, 255, 255, .9) 80%, rgba(255, 255, 255, 0) 100%);
		background:-moz-linear-gradient(left, #fff 0, rgba(255, 255, 255, .9) 80%, rgba(255, 255, 255, 0) 100%);
		background:-webkit-gradient(linear, left top, right top, color-stop(0,#fff), color-stop(80%, rgba(255, 255, 255, .9)), color-stop(100%, rgba(255, 255, 255, 0)));
}
#figures figure figcaption a:hover, #features .figures figure figcaption a:focus { background:#fff }
#figures figure figcaption a strong { font-weight:normal; font-size:1.4em }
#figures img { display:block; position:relative; top:-50px; }
.features #figures img { top:0; }
#figures .carousel-wrap { float:left; width:100%; outline:0!important }
#figures .center-wrap { float:right; margin:-21px 278px 0 0; position:relative; z-index:2; }
#figures .center-wrap a {
	overflow:hidden; float:left; margin:0 0 0 3px; width:13px; height:13px;
	font-weight:bold; font-size:.81em; line-height:13px; font-family:'Trebuchet MS'; text-align:center; text-decoration:none;
	border:1px solid #fff; background:#fff; cursor:pointer; outline:1px solid rgba(0,0,0,.2);
}
#figures .center-wrap a.active { background:url(i/bullets/bullet.png); text-indent:-9999px;  }

#page .main .catcher { font-size:1.17em }
#page .main section article { display:list-item; list-style-image:url(i/bullets/bullet.png); margin:0 0 10px 20px }
#page .main section article header { margin:0 0 5px }
#page .main section article header h1 { display:inline-block; font-size:1.23em; color:#183659 }
#page .main section article header h1 a { text-decoration:none }
#page .main section article header .date { margin-left:.2em; font-size:.88em }
#page .main .box-common header { margin:0 0 1.5em; font-size:1.2em; color:#172B44 }
#page .main .references { position:relative; outline:0!important }
#page .main .references ul { overflow:hidden; margin:0 0 5px -11px }
#page .main #portfolio .box-common > .in { padding:1em 30px }
.js #page .main #portfolio .references { margin-left:-6px }
.js #page .main #portfolio .references .carousel-wrap { position:relative; width:605px; margin:0 auto; padding-bottom:10px; }
.js #page .main #portfolio .references ul { overflow:hidden; margin-left:0; }
.js #page .main #portfolio .references ul li { height:178px; width:109px; }
.js #page .main #portfolio .references ul li img { cursor:help }
#page .main .references li { position:relative; float:left; padding:10px 6px 0; margin-bottom:15px }
#page .main #portfolio .references li { margin-bottom:0 }
#page .main .references li img { position:relative; display:block; width:109px; height:151px }
.js #page .main .references li img, .js #page .main .references li canvas {
	transition-property:all;
	transition-duration:.2s;
	transition-timing-function:ease;
		-moz-transition-property:all;
		-moz-transition-duration:.2s;
		-moz-transition-timing-function:ease;
		-webkit-transition-property:all;
		-webkit-transition-duration:.2s;
		-webkit-transition-timing-function:ease;
		-o-transition-property:all;
		-o-transition-duration:.2s;
		-o-transition-timing-function:ease;
}
.js #page .main .references li canvas { width:109px }
.js #page .main #portfolio .references ul li:hover img { margin-top:-12px; height:168px; width:121px; margin-left:-6px; }
.js #page .main #portfolio .references ul li:hover canvas { margin-left:-6px; width:121px }
#page .main .references li .in {
	display:table-cell; width:121px; min-height:3em; vertical-align:middle;
	font-size:1.5em; text-align:center; font-weight:bold; background:#f2f2f2
}
#page .main .references .carousel-control {
	position:absolute; top:50%; margin-top:-20px; width:20px; height:20px; z-index:2; overflow:hidden;
	text-indent:-9999px; border-radius:3px; border:0;
	background-position:center center; background-repeat:no-repeat;
	background-color:#1c3452;
	background-color:linear-gradient(top, #1E3858 0%, #172A43 100%);
		background-color:-moz-linear-gradient(top, #1E3858 0%, #172A43 100%);
		background-color:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E3858), color-stop(100%,#172A43));
	transition:background .2s ease;
		-moz-transition:background .2s ease;
		-webkit-transition:background .2s ease;
		-o-transition:background .2s ease;
	box-shadow:0 0 2px rgba(0,0,0,.2);
		-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
		-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
}
#page .main .references .carousel-control:hover {
    background-color:linear-gradient(top, #2D5082 0%, #172A43 100%);
        background-color:-moz-linear-gradient(top, #2D5082 0%, #172A43 100%);
        background-color:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D5082), color-stop(100%,#172A43));
}
#page .main .references .carousel-next { right:-26px; background-image:url(i/buttons/next.png) }
#page .main .references .carousel-previous { left:-18px; background-image:url(i/buttons/prev.png) }
#page .main .references .disabled { display:none }
#page .main .full-list header { margin:0 0 1em;}
#page .main .full-list header h1 { font-size:.81em; display:inline-block; }
#page .main .full-list ul { overflow:hidden; margin-left:-2px; font-size:.81em }

#page .main .full-list li {
    display:inline-block; margin:0 0 5px 2px; padding:.4em .8em;
    border:1px solid rgba(0,0,0,.2); border-radius:1em;
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
    background:#efefef;
    	background:-moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E8E8E8));
}
.ie6 #page .main .full-list li, .ie7 #page .main .full-list li { display:inline }
#page .main .products > ul { overflow:hidden; margin-left:-15px }
#page .main .products > ul > li {
	float:left; margin:0 0 15px 15px; padding:10px; width:185px; min-height:210px; height:auto;
	border:1px solid #dee0e1; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 1px rgba(0, 0, 0, .2);
	background:#efefef;
		background:-moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E8E8E8));
}
#page .main .products > ul > li h2 { margin:0 0 .5em; font-weight:normal; font-size:1.24em; color:#183659 }
#page .main .products > ul > li h2 a { text-decoration:none }
#page .main .products > ul > li p { margin:0 0 1em; font-size:.92em }
#page .main .products ul li li { margin:0 0 2px; list-style:inside square; color:#bbb; text-shadow:0 1px 0 #fff }
#page .main .products ul li li a { text-decoration:none }
#page .main .products ul li li a:hover, #page .main .products ul li li a:focus { text-decoration:underline }
#page .main .products > ul > li.other { width:629px; min-height:0; height:auto }
#page .main .products > ul > li.other li { display:inline-block }
#page .main .products > ul > li.other li:before { content:', '; color:#183659 }
#page .main .products > ul > li.other li:first-child:before { content:none }
#page .main .products > ul > li.other ul:after { content:' ...' }
#page .main .editor-content, #page .main .editor-content p { overflow:hidden }
#page .main .editor-content h2 { display:list-item; margin-left:20px; margin-bottom:1em; font-size:1.2em; font-weight:normal; color:#183659; list-style-image:url(i/bullets/bullet.png); }
#page .main .editor-content h2 + p, #page .main .editor-content h2 + .editor-content { margin-left:20px }
#page .main .editor-content h3 { font-size:1.14em; font-weight:normal; color:#183659 }
#page .main .editor-content .left-aligned { float:left; margin-right:20px }
#page .main .editor-content .right-aligned { float:left; margin-left:20px }
#page .main .editor-content .centered { display:block; margin:0 auto }
#page .main .editor-content ul { list-style-type:square; margin-left:1em }
#page .main .editor-content ul li { margin-bottom:1em }
#page .main .editor-content small { font-size:.88em; }

/*Account nav*/
#page .user-menu a, #page .user-menu strong {
	display:block; padding:.4em 20px;
	border-bottom:2px solid rgba(0,0,0,.1);
	font-size:1.17em; text-decoration:none;
	background: #feffff;
		background: -moz-linear-gradient(top, #feffff 0%, #E9E9E9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#E9E9E9));
}
#page .user-menu { border-bottom:2px solid rgba(0,0,0,.1); }
#page .user-menu a:hover, #page .user-menu a:active, #page .user-menu .active strong {
	position:relative;
	font-weight:normal; color :#fff; text-shadow:0 -1px 0 rgba(0,0,0,.8);
	background: #1E3857;
		background: -moz-linear-gradient(top, #1E3857 0%, #14263D 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E3857), color-stop(100%,#14263D));
}
#page .user-menu .active strong:before {
	position:absolute; top:0; left:0; width:13px; height:33px;
	content:'';
	background:url(i/bullets/active_arrow.png) 0 center no-repeat;
}

.box-service > .in { overflow:hidden; padding:10px }
.box-service > .in img { float:left; margin-right:15px }
.box-service > .in ul { float:left; width:60% }
.box-service > .in ul { margin-bottom:2em }
.box-service > .in ul li { list-style:inside square; color:#999 }
.box-service > .in ul li a { text-decoration:none }
.box-service > .in ul li a:hover,.box-service > .in ul li a:focus { text-decoration:underline }
#page .main .box-service .more-about { margin:-2em 10px 1em }

.tooltip {
	display:inline-block; padding:.5em 1em; margin-top:-5px;
	font-size:.92em; border:0; color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,.8);
	background: #0e0e0e;
	background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
		background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	box-shadow:0 0 1px rgba(0,0,0,.5);
		-moz-box-shadow:0 0 1px rgba(0,0,0,.5);
		-webkit-box-shadow:0 0 1px rgba(0,0,0,.5);
}
.tooltip:before {
	position:absolute; bottom:-10px; left:50%; margin-left:-10px; width:0; height:0; content:'';
	border-style:solid; border-width:10px 10px 0; border-color:#0e0e0e transparent
}
.tooltip-bottom { margin-top:5px; }
.tooltip-bottom:before { top:-10px; border-width:0 10px 10px; border-color:#7d7e7d transparent }
